#horse-row {
  border-radius: 5px;
  border: 1px solid lightgrey;
  margin-bottom: 5px;
}

#horse-row span {
  margin-left: 10px;
}

#horse-row > div:first-child button {
  width: 25px;
  height: 25px;
  padding: 0;
  margin-left: 10px;
}

#parent-container {
  border-width: 0;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.pointer {
  cursor: pointer;
}

.no-pointer {
  cursor: default;
}
