<div id="node-container" *ngIf="horse">
  <div id="horse-row" class="d-flex flex-row align-items-center justify-content-between">
    <div>
      <button class="btn btn-secondary" type="button" (click)="onToggleCollapse()" *ngIf="horse.dam || horse.sire">
        {{expanded ? '-' : '+'}}
      </button>
      <span>{{horse.name}}</span>
    </div>
    <div>
      {{horse.birthdate}}
      <button class="btn btn-primary ms-1" type="button" (click)="onRowClick(horse.id)">View</button>
      <button class="btn btn-danger ms-1" (click)="delete(horse.id)">Delete</button>
    </div>
  </div>

  <div id="parent-container" *ngIf="horse.dam || horse.sire" [hidden]="!expanded">
    <app-horse-node *ngIf="horse.dam" [horse]="horse.dam"></app-horse-node>
    <app-horse-node *ngIf="horse.sire" [horse]="horse.sire"></app-horse-node>
  </div>
</div>
