.flex-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    & > span:not(:first-child) {
        margin-left: 1em;
    }
}

.full-width {
    width: 100%
}

.search-title-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#search-reset-btn {
  margin-left: 5px;
}

.search-container {
  padding: 5px;
  background: lightgrey;
  border-radius: 5px;
  margin-top: 5px;
}

.search-controls-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.search-row label {
  margin-right: 5px;
}

.search-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1 1 auto;
}

.search-row:last-of-type {
  flex: 1 1 auto;
}

#name-search {
  width: 150px;
}

#born-after-search {
  width: 130px;
}

#gender-search {
  width: 120px;
}

#owner-search {
  flex: 1 1 auto;
  min-width: 150px;
}
