<form (ngSubmit)="onSubmit(horseForm)" #horseForm="ngForm">
  <div class="form-group">
    <label for="name">Name*</label>
    <input type="text"
           class="form-control"
           id="name"
           name="name"
           #name="ngModel"
           required
           pattern="[(ÄÖÜ)(A-Z)(äöü)(a-z)(0-9)\- ]*"
           placeholder="Enter a name"
           [(ngModel)]="model.name">
    <div class="alert alert-danger" [hidden]="name.valid || name.untouched">
      Name is required.
    </div>
  </div>

  <div class="form-group">
    <label for="dateOfBirth">Date of birth*</label>
    <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" #dateOfBirth="ngModel"
           required
           [(ngModel)]="model.birthdate">
    <div class="alert alert-danger" [hidden]="dateOfBirth.valid || dateOfBirth.untouched">
      The full date of birth is required (tt-mm-yyyy).
    </div>
  </div>

  <fieldset class="form-group" id="gender-container">
    <legend>Gender*</legend>
    <ng-container *ngFor="let gender of genders">
      <input class="custom-control-input"
             type="radio"
             id="{{gender}}"
             name="gender"
             value="{{gender}}"
             required
             [(ngModel)]="model.gender">
      <label class="custom-control-label" for="{{gender}}">{{gender}}</label>
    </ng-container>
  </fieldset>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control"
              id="description"
              rows="3"
              name="description"
              placeholder="Provide a description (optional)"
              [(ngModel)]="model.description"></textarea>
  </div>

  <div id="button-container" class="ml-auto">
    <button type="submit" class="btn btn-success" [disabled]="!(horseForm.form.valid && horseForm.form.dirty)">
      {{formSubmitButtonText}}
    </button>
  </div>
</form>

<div class="mt-3">
  <div class="spinner-border" role="status" *ngIf="sent && !gotResponse">
    <span class="visually-hidden">Loading...</span>
  </div>

  <div *ngIf="gotResponse" class="submit-status">
    <div [hidden]="!successful" class="alert alert-success">{{responseMessage}}</div>
    <div [hidden]="successful" class="alert alert-danger">{{responseMessage}}</div>
  </div>
</div>

