<form (ngSubmit)="onSubmit(horseForm)" #horseForm="ngForm" *ngIf="formReady">
  <div class="form-group">
    <label for="name">Name*</label>
    <input type="text"
           class="form-control"
           id="name"
           name="name"
           #name="ngModel"
           required
           pattern="[(ÄÖÜ)(A-Z)(äöü)(a-z)(0-9)\- ]*"
           placeholder="Enter a name"
           [(ngModel)]="model.name">
    <div class="alert alert-danger" [hidden]="name.valid || name.untouched">
      Name is required. Valid Characters: A-Z, a-z, 0-9, Ä, Ö, Ü, ä, ö, ü, -, ' '.
    </div>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control"
              id="description"
              rows="4"
              name="description"
              placeholder="Provide a description (optional)"
              [(ngModel)]="model.description"></textarea>
  </div>

  <div class="form-group">
    <label for="dateOfBirth">Date of birth*</label>
    <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" #dateOfBirth="ngModel"
           required
           [(ngModel)]="model.birthdate">
    <div class="alert alert-danger" [hidden]="dateOfBirth.valid || dateOfBirth.untouched">
      The full date of birth is required (tt-mm-yyyy).
    </div>
  </div>

  <fieldset class="form-group" id="gender-container">
    <legend>Gender*</legend>
    <ng-container *ngFor="let gender of genders">
      <input class="custom-control-input"
             type="radio"
             id="{{gender}}"
             name="gender"
             value="{{gender}}"
             required
             [(ngModel)]="model.gender">
      <label class="custom-control-label" for="{{gender}}">{{gender}}</label>
    </ng-container>
  </fieldset>

  <div class="form-group">
    <label for="owner">Owner</label>
    <ng-select id="owner" name="owner" placeholder="Choose owner (optional)" [(ngModel)]="model.ownerId">
      <ng-option *ngFor="let owner of owners$ | async" [value]="owner.id">
        {{owner.firstname}} {{owner.surname}}
      </ng-option>
    </ng-select>
  </div>

  <div class="form-group">
    <label for="dam">Dam</label>
    <ng-select id="dam" name="dam" [loading]="isLoadingDam" [typeahead]="damSearchTerms$" placeholder="Choose a dam (Optional)" [(ngModel)]="model.damId">
      <ng-option *ngFor="let dam of dams$ | async" [value]="dam.id">
        {{dam.name}} (born {{dam.birthdate}})
      </ng-option>
    </ng-select>
  </div>

  <div class="form-group">
    <label for="sire">Sire</label>
    <ng-select id="sire" name="sire" [loading]="isLoadingSire" [typeahead]="sireSearchTerms$" placeholder="Choose a sire (Optional)" [(ngModel)]="model.sireId">
      <ng-option *ngFor="let sire of sires$ | async" [value]="sire.id">
        {{sire.name}} (born {{sire.birthdate}})
      </ng-option>
    </ng-select>
  </div>

  <div class="form-check" *ngIf="!horseId">
    <label class="form-check-label" for="create-another">Create another one</label>
    <input type="checkbox" id="create-another" name="create-another" class="form-check-input me-2" [(ngModel)]="createAnother">
  </div>

  <div id="button-container" class="ml-auto">
    <button type="submit" class="btn btn-success" [disabled]="!(horseForm.form.valid && horseForm.form.dirty)">
      {{formSubmitButtonText}}
    </button>

    <button type="button" class="btn btn-danger ms-1" (click)="goBack()">
      Cancel
    </button>
  </div>
</form>



